@mixin flex($mainAxis: center, $crossAxis: center) {
    display: flex;
    justify-content: $mainAxis;
    align-items: $crossAxis;
}

@mixin pos-abs() {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
}