@mixin flex($mainAxis: center, $crossAxis: center) {
    display: flex;
    justify-content: $mainAxis;
    align-items: $crossAxis;
}

@mixin box-shadow($x: 0px, $y: 0px, $alpha: 0px, $length: 0px, $color: black, ) {
    box-shadow: $x $y $alpha $length $color;
}