:root {
    --bg-transparent: transparent;
    --color-black: black;
    --color-dark: #333;
    --color-lightdark: #666;
    --color-lightgrey: lightgrey;
    --color-white: white;
    --color-red:red;
}

